[Desktop Entry]
Type=Application
Version=1.0
Name=CTS Scoreboard Kiosk
GenericName=Scoreboard Kiosk
Comment=Re-launch the CTS Scoreboard in fullscreen kiosk mode
Exec=cts-kiosk
TryExec=cts-kiosk
Icon=cts-kiosk
Terminal=false
Categories=Network;Utility;
StartupNotify=false
